<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<body class="text-center">
<form class="form-signin" method="post" th:action="@{/login}">
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-3 text-center">
        <h1 class="display-1">Grada</h1>
        <h1 class="h3 mb-3 font-weight-normal">Sign-in to continue</h1>
        <label for="userName" class="sr-only">Email address</label>
        <input type="text" th:name="userName" id="userName" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" th:name="password" class="form-control" placeholder="Password" required>

        <div class="checkbox my-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a th:href="@{register}" class="text-right">Register Now</a>
    </div>
</form>
</div>

</body>
</body>
</html>